.list-item {
    margin: 30px;
    padding: 15px;
    border: 2px solid black;
    width: 300px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    position: relative;
}


.inp-field {
  font-family: 'Quicksand', sans-serif;
  height: 20px;
  width: 300px;
}

body {
  background: linear-gradient(to right, #03fcd7, #03c6fc, #0384fc, #0318fc);
}

#sub {
  width: 100px;
  color: white;
  background-color: #212121;
  animation-name: swoop;
  animation-duration: 3s;
}


@keyframes swoop{
  from{
    transform: translateX(-400px);
  }
  
  to{
    transform: translateX(0);
  }
}


.del {
  position: absolute;
  right: 10px;
  background-color: #212121;
  color: white;
}